<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<tr class="navigation">
		<td wicket:id="span">
			<div class="navigatorLabel"><div wicket:id="navigatorLabel"></div></div>
			<div class="navigator"><ul wicket:id="navigator"></ul></div>
		</td>
	</tr>
</wicket:panel>