<wicket:panel>
	<form wicket:id="form" class="wizard">
		<div class="head">
			<div wicket:id="title" class="title"></div>
			<div wicket:id="description" class="form-text text-muted"></div>
		</div>
		<div class="body">
			<div wicket:id="feedback"></div>
			<div wicket:id="content"></div>
		</div>
		<div class="foot">
			<button wicket:id="previous" type="button" class="btn btn-light-primary previous">Previous</button>
			<button wicket:id="skip" type="button" class="btn btn-light-primary skip">Skip</button>
			<button type="submit" wicket:id="next" class="btn btn-primary next">Next</button> 
			<button type="submit" wicket:id="finish" class="btn btn-primary finish">Finish</button>
		</div>
	</form>
</wicket:panel>
