<wicket:panel>
	<div class="access-token">
		<div class="input-group">
			<input wicket:id="value" class="value form-control" readonly="readonly" type="password">
			<span class="input-group-append">
				<a wicket:id="copy" class="btn btn-outline-secondary btn-icon"><wicket:svg href="copy" class="icon"></wicket:svg></a>
			</span>
		</div>
		<a wicket:id="regenerate" class="btn btn-primary mt-4">Regenerate</a>
	</div>
</wicket:panel>