<wicket:panel>
	<div class="diff-title">
		<wicket:enclosure child="renamedTitle">
			<span wicket:id="renamedTitle"></span>
			<wicket:svg href="arrow" class="icon"/>
		</wicket:enclosure>
		<span wicket:id="title"></span>
		<span wicket:id="modeChange" class="message"></span>
	</div>
</wicket:panel>