<wicket:extend>
    <div wicket:id="log" class="d-flex flex-grow-1 position-relative"></div>
    <wicket:fragment wicket:id="optionsFrag">
        <div>
            <a wicket:id="download" class="btn btn-light btn-hover-primary btn-icon btn-sm btn-xs" title="Download full log"><wicket:svg href="download" class="icon"/></a>
        </div>
    </wicket:fragment>
</wicket:extend>