<wicket:panel>
	<table class="image-diff">
		<tr>
			<td class="old">
				<img wicket:id="old" title="Before modification">
			</td>
			<td class="new">
				<img wicket:id="new" title="After modification">
			</td>
		</tr>
	</table>
</wicket:panel>