.commits-selector ul a {
	text-decoration: none;
	display: block;
	padding: 0.5rem 1rem;
	white-space: nowrap;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	color: var(--gray-dark);
}
.commits-selector ul a:hover {
	background: var(--light);
	color: var(--gray-dark) !important;
}
.commits-selector ul a.selected, .commits-selector ul a.selected:hover {
	background: var(--light-warning);	
}
