<wicket:panel>
	<div class="header d-flex align-items-center flex-shrink-0 border-bottom">
		<div wicket:id="title" class="title flex-grow-1"></div>
		<a wicket:id="close" title="Hide" class="flex-shrink-0 ml-4 close align-items-center"><wicket:svg href="times" class="icon"/></a>
	</div>
	<div wicket:id="body" class="body flex-grow-1"></div>
</wicket:panel>