.no-diff {
	border: 1px solid #D8D8D8;
	border-radius: 4px;
	margin-bottom: 16px;
}
.no-diff>.head {
	padding: 8px;
	border-bottom: 1px solid #D8D8D8;
}
.no-diff>.body {
	font-style: italic;
	padding: 20px;
}