<wicket:panel>
	<div class="head">
		<span wicket:id="user" class="user"></span> <span wicket:id="description"></span> <span wicket:id="age"></span>
		<a wicket:id="changes" class="changes btn btn-icon btn-xs btn-light btn-hover-primary" title="Changes since this action"><wicket:svg href="diff" class="icon"></wicket:svg></a>
	</div>
	<div wicket:id="body" class="body"></div>
</wicket:panel>