<wicket:panel>
	<div class="head">
		<span wicket:id="user" class="user"></span> commented <span wicket:id="age"></span>
		<a wicket:id="changes" title="Changes since this comment" class="btn btn-xs btn-icon btn-light btn-hover-primary changes"><wicket:svg href="diff" class="icon"></wicket:svg></a>
	</div>
	<div wicket:id="body" class="body"></div>
</wicket:panel>