<wicket:panel>
	<div class="commit-option p-4">
		<h5 class="mb-4">Commit Your Change</h5>
		<div class="body">
			<form wicket:id="form">			
				<div wicket:id="feedback"></div>
				<div wicket:id="changesOfOthers" class="mb-4"></div>
				<div wicket:id="commitMessage" class="no-autosize mb-4"></div>
				<input wicket:id="save" type="submit" class="btn btn-primary mr-1" value="Commit">
				<input wicket:id="cancel" type="button" class="btn btn-secondary" value="Cancel">
			</form>
		</div>
	</div>
</wicket:panel>