.issue-operations>div {
	margin-bottom: 1.5rem;
}
.issue-operations>.state-and-actions>.state {
	margin-right: 1.2rem;
	padding-right: 1.2rem;
}
.issue-operations>.state-and-actions>.state.with-separator {
	border-right: 1px solid var(--light-gray);
}

.issue-operations>.state-and-actions>.state>.issue-state {
    padding: 0.55rem 0.75rem;
    font-size: 0.925rem;
	border: 1px solid transparent;
    line-height: 1.35;
	display: block;
}
