<wicket:panel>
	<span class="text-nowrap">
		<a wicket:id="projectPicker" class="project btn btn-sm btn-outline-secondary mr-2"></a> 
		<a wicket:id="branchPicker" class="branch btn btn-sm btn-outline-secondary"></a> 
	</span>
</wicket:panel>