<wicket:extend>
	<div class="p-2 p-sm-5">
		<div class="card mb-5">
			<div class="card-body">
				<div class="d-flex align-items-center flex-wrap">
					<div wicket:id="name" class="name mr-4 mb-4 font-weight-bold font-size-h6"></div>
					<div wicket:id="status" class="status mr-4 mb-4"></div>
					<div wicket:id="due" class="due mr-4 mb-4"></div>
					<div wicket:id="actions" class="actions mb-4"></div>
				</div>
				<div wicket:id="issueStats" class="issue-stats"></div>
				<div wicket:id="description" class="mt-4"></div>
			</div>
		</div>
		<div wicket:id="issues" class="issues"></div>
	</div>
	<wicket:fragment wicket:id="projectTitleFrag">
		<a wicket:id="milestones">Milestones</a>
		<span class="dot"></span>
		<span wicket:id="milestoneName" class="text-truncated"></span>
	</wicket:fragment>
</wicket:extend>