<wicket:extend>
	<div class="card m-2 m-sm-5">
		<div class="card-body">
			<form wicket:id="form" class="leave-confirm">
				<div wicket:id="editor"></div>
				<div class="actions">
					<input type="submit" value="Save" class="btn btn-primary dirty-aware"></input>
				</div>
			</form>
		</div>
	</div>
</wicket:extend>
