.issue-commits>.commit {
	border-top: 1px solid var(--light-gray);
}
.issue-commits>.commit:first-child {
	border-top: none;
}

.issue-commits>.commit .commit-message>.summary {
    font-weight: 600;
    font-size: 1.1rem;
}