.floating.param-spec .property-choices table tr:first-child td {
	border-top: 1px dashed var(--secondary);
	border-top-left-radius: 0.42rem;
}
.floating.param-spec .property-choices table td.property-value {
	border-right: 1px dashed var(--secondary);
}
.floating.param-spec .property-choices table tr:first-child td.property-value {
	border-top-right-radius: 0.42rem;
}
.floating.param-spec .property-choices table tr:last-child td.property-value {
	border-bottom-right-radius: 0.42rem;
}
.param-spec-edit .property-choices tr:first-child td {
	border-top: 1px dashed var(--secondary);
	border-radius: 0.42rem 0.42rem 0 0;
}
.floating.param-spec .property-choices thead, .param-spec-edit .property-choices thead,
.floating.param-spec .property-color, .param-spec-edit .property-color {
	display: none;
}
