<wicket:panel>
    <div class="alert alert-notice alert-light-warning shadow">Issue workflow changed, <a wicket:id="reconcile" class="link-primary">reconciliation</a> needs to be performed to make data consistent</div>
</wicket:panel>
