<wicket:panel>
	<div class="issue-side">
		<div wicket:id="fields" class="fields"></div>
		<div class="milestone">
			<div class="head">Milestone</div>
			<div wicket:id="milestone" class="body"></div>
		</div>
		<div wicket:id="votes" class="votes">
			<div class="head">
				Issue Votes (<span wicket:id="count"></span>) 
			</div>
			<div class="body">
				<wicket:enclosure child="voters">
				<div class="voters">
					<span wicket:id="voters" class="mr-2 mb-3 d-inline-block"><a wicket:id="voter" class="avatar"></a></span> <a wicket:id="more">and more</a>
				</div>
				</wicket:enclosure>
				<a wicket:id="vote" class="btn btn-outline-secondary btn-sm vote"><wicket:svg href="thumb-up" class="icon mr-2"></wicket:svg> <span wicket:id="label"></span></a>
			</div>
		</div>
		<div wicket:id="watches" class="watches"></div>
		<div wicket:id="reference"></div>
		<wicket:enclosure child="delete">
			<div>
				<a wicket:id="delete" class="delete btn btn-light-danger">Delete</a>
			</div>
		</wicket:enclosure>
	</div>
	<wicket:fragment wicket:id="userFrag">
		<a wicket:id="avatar"></a> <a wicket:id="name"></a>
	</wicket:fragment>
	<wicket:fragment wicket:id="nonEmptyValuesFrag">
		<div wicket:id="values" class="value"><span wicket:id="value"></span></div>	
	</wicket:fragment>
	<wicket:fragment wicket:id="fieldsViewFrag">
		<div class="body">
			<table>
				<tr wicket:id="fields">
					<td class="name"><span wicket:id="name"></span></td>
					<td class="values"><div wicket:id="values"></div></td>
				</tr>
			</table>
		</div>
		<wicket:enclosure>
		<div class="d-flex align-items-center mt-3">
			<a wicket:id="edit" class="btn btn-light btn-xs btn-icon btn-hover-primary edit" title="Edit fields"><wicket:svg href="edit" class="icon mr-2"></wicket:svg></a>
		</div>
		</wicket:enclosure>
	</wicket:fragment>
	<wicket:fragment wicket:id="fieldsEditFrag">
		<form wicket:id="form" class="fields-edit leave-confirm">
			<div wicket:id="editor"></div>
			<div class="mt-4">
				<input wicket:id="save" type="submit" class="dirty-aware btn btn-primary mr-1" value="Save">
				<a wicket:id="cancel" class="btn btn-secondary">Cancel</a>
			</div>
		</form>
	</wicket:fragment>
	<wicket:fragment wicket:id="milestoneViewFrag">
		<div class="d-flex align-items-center">
			<a wicket:id="link" class="mr-3"><span wicket:id="label"></span></a>
			<span wicket:id="status" class="status mr-3"></span> 
			<a wicket:id="edit" class="btn btn-icon btn-xs btn-light btn-hover-primary edit action" title="Change milestone"><wicket:svg href="edit" class="icon mr-2"></wicket:svg></a>
		</div>
		<div wicket:id="progress" class="mt-3"></div>
	</wicket:fragment>
	<wicket:fragment wicket:id="milestoneEditFrag">
		<form wicket:id="form">
			<input wicket:id="milestone" type="hidden" class="form-control">
			<div class="mt-4">
				<a wicket:id="save" class="dirty-aware btn btn-primary btn-sm mr-1">Save</a>
				<a wicket:id="cancel" class="btn btn-secondary btn-sm">Cancel</a>
			</div>
		</form>
	</wicket:fragment>
</wicket:panel>
