<wicket:panel>
	<form wicket:id="form" class="board-state-transition">
		<div class="modal-header">
			<h5 id="modal-title" class="modal-title"><span wicket:id="state"></span></h5>
			<button wicket:id="close" type="button" class="close"><wicket:svg href="times" class="icon"/></button>
		</div>
		<div class="modal-body">
			<div wicket:id="editor"></div>
		</div>
		<div class="modal-footer">
			<input wicket:id="ok" type="submit" class="btn btn-primary" value="Ok"></input>
			<a wicket:id="cancel" class="btn btn-secondary">Cancel</a>
		</div>
	</form>
</wicket:panel>
