<wicket:panel>
	<form wicket:id="form" class="save-request-query">
		<div class="modal-header">
			<h5 id="modal-title" class="modal-title">Save Query</h5>
			<button wicket:id="close" type="button" class="close"><wicket:svg href="times" class="icon"/></button>
		</div>
		<div class="modal-body">
			<div wicket:id="editor"></div>
		</div>
		<div class="modal-footer">
			<input wicket:id="save" type="submit" class="dirty-aware btn btn-primary" value="Save as Mine">
			<button wicket:id="saveForAll" class="dirty-aware btn btn-primary">Save for All</button>
			<a wicket:id="cancel" class="btn btn-secondary">Cancel</a>
		</div>
	</form>	
</wicket:panel>