<wicket:extend>
	<div class="membership-list">
		<div class="head d-flex flex-wrap">
			<div class="clearable-wrapper mr-3 mb-4">
				<input wicket:id="filterUsers" class="form-control search" placeholder="Filter by name...">
			</div>
			<div class="mr-3 mb-4">
				<input wicket:id="addNew" type="hidden" class="form-control">
			</div>
			<div class="mb-4">
				<a wicket:id="deleteSelected" class="btn btn-danger">Delete Selected</a>
			</div>
		</div>
		<table wicket:id="memberships" class="memberships table"></table>
	</div>
	<wicket:fragment wicket:id="nameFrag">
		<a wicket:id="link"><img wicket:id="avatar"> <span wicket:id="name" class="name"></span></a>
	</wicket:fragment>
</wicket:extend>